
<div class="container">
    <div class="well">
        <a routerLink="/servicios">Servicios</a> | Acerca de {{service.nombre}}
    </div>
    <h3>{{service.nombre}}</h3>
    <label>Descripcion</label>
    <div class="well">
       <p [innerHtml]="service.descripcion | linkify"></p> <!--se hace uso del pipe propio creado -->
       <div class="row">
            <p class="bg-info">
                <b>Ubicacion</b> {{service.calle}} - {{service.ciudad}} - {{service.pais}}<br>
                <small><b>Creado:</b> {{service.id | date :'medium'}}</small><br> <!--pipes-->
            </p>
       </div>
    </div>
    <div class="row">

    </div>
</div>