<div align="center" *ngIf="estado.status==false" class="container">
  <p class="bg-danger">
    <b>Sentimos los incovenientes, por favor intente de nuevo mas tarde</b>
    <br>{{estado.msg}}
    <br>
    <br>
  </p>
</div>
<div align="center" *ngIf="estado.status==true" class="container">
  <p class="bg-success">
    <b>Usuario {{datos.correo}} logeado con exito¡</b>
    <br>
  </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 well">
      <label>Correo</label>
      <input type="email" class="form-control" [(ngModel)]="datos.correo">
      <br>
      <label>Contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="datos.contrasena">
      <hr />
      <a class="btn btn-block btn-success" (click)="login()">Iniciar sesion con correo</a>
      <a class="btn btn-block btn-primary" (click)="facebookLogin()">Iniciar sesion con Facebook</a>
      <a routerLink="/inicio" class="btn btn-block btn-default">Cancelar</a>
    </div>
  </div>
</div>