<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="inicio">Working active !</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="inicio" >Inicio </a></li>
        <li routerLinkActive="active"><a routerLink="servicios" >Servicios</a></li>
        <li routerLinkActive="active"><a routerLink="roles" >Roles</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="!loginState">
        <li routerLinkActive="active"><a routerLink="registro">Registro</a></li>
        <li routerLinkActive="active"><a routerLink="login">Login</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" *ngIf="loginState">
        <li><a routerLink="#">{{datosUser.displayName}} <small><i>({{datosUser.email}})</i></small></a></li>
        <li><a routerLink="inicio" (click)="singOut()">Salir</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<router-outlet></router-outlet>

<!--
<ul>
  <ng-container *ngFor="let rol of roles; let i = index" [ngSwitch]="rol.categorie">
        <li contarClicks [ngStyle]="{color: (rol.state) ? 'black' : 'red'}" [ngClass]="{backgroundLine: (i+1) % 2 !=0 }" [resaltar]="rol.tipo">
             {{rol.nombre}} -
          <span *ngSwitchCase="1" [ngStyle]="{color: 'green'}">profesional</span>
          <span *ngSwitchCase="2" [ngStyle]="{color: 'blue'}">tecnologo</span>
         <span *ngSwitchCase="3" [ngStyle]="{color: 'gray'}">tecnico</span>
         </li>
    </ng-container>
</ul>
-->

