<div align="center" *ngIf="error" class="container">
    <p class="bg-danger">
        <br>{{errorMensaje}}<br><br>
    </p>
</div>
    <div class="row">
        <div class="col-md-7">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="14">
                <agm-marker *ngFor="let service of services" [latitude]="service.lat" [longitude]="service.long"></agm-marker>
            </agm-map>
            <hr />
        </div>

        <div class="col-md-5">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color: rgb(236, 235, 235)">
                            <div class="row">
                                <div class="col-md-6">
                                    <b><font size="5">Servicios</font></b>
                                </div>
                                <div class="col-md-6" align="right" *ngIf="loginState">
                                    <a class="btn btn-primary" routerLink="/crear/1" [queryParams]="{action:'new'}">Crear nuevo servicio +</a>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-7">
                                    <b>Nombre</b>
                                </div>
                                <div class="col-md-2">
                                    <b>Ver</b>
                                </div>
                                <div class="col-md-2" *ngIf="loginState">
                                    <b>Editar</b>
                                </div>
                            </div>
                        </li>
                        <ng-container *ngFor="let service of services">
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-7">
                                        {{service.nombre}}
                                    </div>
                                    <div class="col-md-2">
                                        <a routerLink="/about/{{service.id}}" [queryParams]="{action:'view'}" class="btn btn-default" title="Ver"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                                    </div>
                                    <div class="col-md-2" *ngIf="loginState">
                                        <a routerLink="/crear/{{service.id}}" [queryParams]="{action: 'edit'}" class="btn btn-default" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            </li>
                        </ng-container>
                    </ul>
                </div>
                <div class="col-md-3"></div>
                </div>
            </div>
        </div>
