<div class="container">
    <div class="well" *ngIf="accion == 'new'"><a routerLink="/servicios">Servicios</a> | Crear servicio</div>
    <div class="well" *ngIf="accion == 'edit'"><a routerLink="/servicios">Servicios</a> | Editar servicio</div>
    <label>Nombre </label>
    <input type="text" class="form-control" [(ngModel)]="servicio.nombre" value="{{servicio.nombre}}">
    <br>
    <label>Descripcion</label>
    <textarea class="form-control" [(ngModel)]="servicio.descripcion" value="{{servicio.descripcion}}"></textarea>
    <div align="center"><h3>Ubicacion</h3></div>
    <div class="well">
        <form class="for-inline">
            <h3>Buscar direccion  <a class="btn btn-info" (click)="searchFieldGoogleMaps()" >refresh</a></h3>
            <input type="text" [formControl]="searchField" class="form-control" />
        </form>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let result of resultsStream | async" (click)="getDir(result)"><a class="btn btn-default btn-block"> {{result.formatted_address}} </a></li>
        </ul>
    </div>
    <label>Calle y Numero </label>
    <input type="text" class="form-control" [(ngModel)]="servicio.calle" value="{{servicio.calle}}">
    <br>
    <label>Ciudad </label>
    <input type="text" class="form-control" [(ngModel)]="servicio.ciudad" value="{{servicio.ciudad}}">
    <br>
    <label>Pais </label>
    <input type="text" class="form-control" [(ngModel)]="servicio.pais" value="{{servicio.pais}}">
    <hr />
    <a class="btn btn-primary" (click)="crearServicio()">Agregar</a>
    <a routerLink="/inicio" class="btn btn-default">Cancelar</a>
</div>