<div class="container">
        <div class="well"><a routerLink="/servicios">Inicio</a> | Roles</div>
        <div class="row">
            <div class="col-md-6">
                <h3>Activos</h3>
                <ul class="list-group">
                    <ng-container *ngFor="let rol of roles">
                        <li *ngIf="rol.state" class="list-group-item"> {{rol.nombre}} </li>
                    </ng-container>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>Inactivos</h3>
                <ul class="list-group">
                    <ng-container *ngFor="let rol of roles">
                    <li *ngIf="!rol.state" class="list-group-item"> <font  color="red" > {{rol.nombre}} </font> <font color="gray" size="2"> <i>(inactivo)</i> </font></li>
                 </ng-container>
                </ul>
            </div>
        </div>
    </div>