<div align="center" *ngIf="estado.status==false" class="container">
    <p class="bg-danger">
        <b>Sentimos los incovenientes, por favor intente de nuevo mas tarde</b>
        <br>{{estado.msg}}<br><br>
    </p>
</div>
<div align="center" *ngIf="estado.status==true" class="container">
    <p class="bg-success">
        <b>Usuario {{datos.correo}} registrado con exito¡</b>
        <br>
    </p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-offset-4 col-md-4 well">
      <label>Nombre completo</label>
      <input type="text" class="form-control" [(ngModel)]="datos.nombre" value="{{estado[0]}}" placeholder="Nombres y apellidos">
      <br>
      <label>Correo</label>
      <input type="email" class="form-control" [(ngModel)]="datos.correo">
      <br>
      <label>Contraseña</label>
      <input type="password" class="form-control" [(ngModel)]="datos.contrasena">
      <br>
      <hr />
      <a class="btn btn-block btn-primary" (click)="registrar()">Registrar¡</a>
      <a routerLink="/inicio" class="btn btn-block btn-default">Cancelar</a>
    </div>
  </div>
</div>